.buttonNav {background-color: rgb(158, 53, 199);
border-radius: 15px ;
font-size: 20px;
padding: 5px;
}

.buttonNav:hover {
        color : rgb(255, 0, 170);
        text-shadow: 0 0 10px white,
        0 0 20px rgb(2, 39, 248),
        0 0 40px rgb(8, 37, 206),
        0 0 80px rgb(59, 72, 151),
        0 0 120px rgb(43, 65, 190)
    }
