.btn__css {
    margin: 5px;
    color: red;
}

.colorNav{
    background-color: rgba(153, 38, 163, 0.014);
}

.Link{
    background-color: rgba(158, 53, 199, 0);
    border-radius: 1px ;
    font-size: 30px;
    padding: 5px;
    text-decoration: none ;
    color: aliceblue;

}

.logo{
    height: 100%;
}

.divNavegacion{
display: flex;
justify-content: center;
justify-content: space-evenly;
padding: 10px;
width: 100%;
height: 100%;
}