.btn__css {
    margin: 5px;
    color: red;
}

.colorNav{
    background-color: rgba(128, 128, 128, 0.253);
}

.Link{background-color: rgb(158, 53, 199);
    border-radius: 15px ;
    font-size: 20px;
    padding: 5px;
    

}

.logo{
    height: 100%;
}