
button {
    margin: 15px;
background-color: rgb(211, 205, 205);
}

.h1Saludo {font-size: 60px;}




.CartCompDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align:justify;
}




.h1Saludo{ color: rgb(234, 241, 247);}


.h1Saludo:hover {
    color : rgb(255, 251, 253);
    text-shadow: 0 0 10px white,
    0 0 20px rgb(2, 39, 248),
    0 0 40px rgb(8, 37, 206),
    0 0 80px rgb(59, 72, 151),
    0 0 120px rgb(43, 65, 190)
}